<h2>What question would you like to ask your coach?</h2>

<form action="/answer" data-turbo="false">
  <input type="text" name="ask">
  <input type="submit" value="Click here to submit your question??">
</form>
